nav{
    box-shadow: 6px 5px 20px gray;
    opacity: 100%;
}
.card-body{
    height: 11vh;
    background-color: #3E5084;
    color: white;
    font-weight: 8px;
    font-size: 20px;
}
.card-body{
 display: flex;
 justify-content: space-between;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
    height: 35vh;
    font-size: 10px;
    padding-bottom: 15px;
}
table{
    font-size: 14px;
    font-weight: 4px;
}
tr{
    padding-top: 10px;
    padding-bottom: 15px;
    height: 5vh;
    
}
#del{
    color: white;
    font-weight: 8px;
    background-color: #D95734 ;
}
#add{
    color: white;
    font-weight: 8px;
    background-color: #39973C;
}

.list{
    padding: 2px;
    margin-top: 12px;
    margin-left: 24px;
    margin-right: 24px;
    height: 70vh;
}
.footer h2{
    font-size: 15px;
    padding-left: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    color: #3E5084;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination{
    color: gray;
    padding-right: 35px;
}
.pagination a{
    color: gray;
}
.grourp-btn i{
    padding: 5px;
}
.item i{
 display:  inline-block;
 padding-right: 8px;
}