.key-info {
    display: inline;
    width: 10vw;
}

.value-info {
    display: inline;
    width: 70vw;
}

input {
    border: 0.14rem solid rgb(218, 218, 218);
    border-top-color: black;
}

select {
    padding: 7px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vh 2vw;
}

.pick {
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.human-check {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-footer button {
    background-color: gray;
    color: white;
    font-weight: bold;
    border: 1px solid;
    padding: 7px;
}

.hr {
    border: 1px solid rgb(161, 161, 161);
    width: 100%;
    margin: 1vh;
}

h2 {
    margin: 0;
    margin-top: 2vh;
}